{% extends "main.html" %}

{% block scripts %}
    <script type="text/javascript" xmlns="http://www.w3.org/1999/html" src="/static/extern/markitup/jquery.markitup.js"></script>
    <script type="text/javascript" src="/static/extern/markitup/sets/markdown/set.js"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/extern/markitup/skins/simple/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/extern/markitup/sets/markdown/style.css"/>
{% endblock %}

{% block nav %}{{ navbar('timeline', current_user) }}{% endblock %}

{% block main_area %}
    {% include "partial/info_modal.html" %}
    {% from "social/elements/post_form.html" import post_form %}
    {{ post_form(current_user, True) }}

{% for record in records.items %}
<div class="bs-callout bs-callout-unit">
    {% set post_header = record|post_header %}
    <h3>
        {{ record.rate|rate_text }}<span class="text-muted"> &curren; </span>
        <a href="{{ url_for('social.post', post_id=record.id) }}">{% include "social/elements/post_title.html" %}</a>
    </h3>
    <p>{{ post_header.text|safe }}</p>
    {% if post_header.read_more %}
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <a class="text-muted" href="{{ url_for('social.post', post_id=record.id) }}"><i>read more...</i></a>
            </div>
        </div>
    </div>
    {% endif %}
    <p>{% include 'social/elements/tags.html' %}</p>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">{% include 'social/elements/author_info.html' %}</div>
            <div class="pull-right">
                <small><a href="{{ url_for('social.post', post_id=record.id, _anchor='comments') }}">Comments: {{ record.comments_count }}</a></small>
            </div>
        </div>
    </div>
</div>
{#<br/>#}
{% endfor %}
<ul class="pager">
    {% if records.has_prev %}
    <li class="previous">
        <a href="{{ url_for('social.timeline', tag=tag, user=user, page=records.prev_num) }}">&larr; Prev</a>
    </li>
    {% endif %}
    {% if records.has_next %}
    <li class="next">
        <a href="{{ url_for('social.timeline', tag=tag, user=user, page=records.next_num) }}">Next &rarr;</a>
    </li>
    {% endif %}
</ul>

{% if current_user.is_authenticated %}
<script>
$(document).ready(function () {
    $("#marked-text").markItUp(mySettings);
    ko.applyBindings(new PostForm({
        name: {{ current_user.name|tojson|safe }},
        transport: new AjaxTransport({{ url_for('social.post_update')|tojson|safe }})
    }), document.getElementById('post-form'));
});
</script>
{% endif %}
{% endblock %}
