{% extends "social/list.html" %}

{% block main_area %}
{% include "partial/info_modal.html" %}
{% from "social/elements/poll_variants.html" import poll_vote_variants, poll_vote_results %}

{% set record = post %}

{% set post_header = record|post_header %}

{% set poll_voting = not(poll is none) and (result is none) %}

<div class="row" id="rate-form" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12">
        <div class="pull-left">
            <h2>
                {% if rate %}
                    <span data-bind="text: (value()>0?'+':'')+String(value())"></span>
                {% else %}
                    {{ record.rate|rate_text }}
                {% endif %}
                <span class="text-muted"> &curren; </span>
                <a href="#">{% include "social/elements/post_title.html" %}</a>
            </h2>
        </div>
        <div class="pull-right">
            <h3>
            {% if current_user.is_authenticated %}
                {% if rate %}
                    <a href="#"><img data-bind="css: { 'social': !plus.rated() }, click: plus" src="/static/extern/glyphicons/png/glyphicons_343_thumbs_up.png"></a>
                    <a href="#"><img data-bind="css: { 'social': !minus.rated() }, click: minus" src="/static/extern/glyphicons/png/glyphicons_344_thumbs_down.png"></a>
                {% endif %}
                {% if post.author_id == current_user.id %}
                    <a href="{{ url_for('social.edit_post', post_id=post.id) }}" title="Edit"><img class="social" src="/static/extern/glyphicons/png/glyphicons_150_edit.png"></a>
                    <a href="#" title="Delete" id="delete-post"><img class="social" src="/static/extern/glyphicons/png/glyphicons_207_remove_2.png"></a>
                {% endif %}
            {% endif %}
                <a href="#"><img id="comment-button" class="social" src="/static/extern/glyphicons/png/glyphicons_309_comments.png"></a>
            </h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
{% if post.roster %}
    {% set roster = post.roster|roster_description %}
    <div id="roster">
        {% include "builder/roster_actions.html" %}
        {% include 'builder/export/view.html' %}
    </div>
{% else %}
        {{ post.text|post_text|safe }}
    {% if poll_voting %}
        {{ poll_vote_variants(poll, post) }}
    {% else %}
        {% if not (result is none) %}
            {{ poll_vote_results(result) }}
        {% endif %}
    {% endif %}
{% endif %}
    </div>
</div>

<p>{% include 'social/elements/tags.html' %}</p>
<p>{% include 'social/elements/author_info.html' %}</p>
{% include "partial/horizontal_ads.html" %}

<table class="table table-striped" id="comment-list">
<thead>
<tr>
    <th>Comments</th>
</tr>
</thead>
<tbody data-bind="foreach: comments">
<tr data-bind="attr: {id: $data.id}"><td>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <a data-bind="attr: {href: $data.author.url}"><span data-bind="text: $data.author.name"></span></a>
                <i class="muted">@ <span data-bind="text: $data.created"></span></i>
            </div>
            <div class="pull-right" data-bind="visible: !$data.readOnly()&&!$data.deleted()">
                <a href="#" title="Edit" data-bind="click: $data.editComment"><span class=" glyphicon glyphicon-edit social"></span></a>
                <a href="#" title="Delete" data-bind="click: $data.deleteComment"><span class="glyphicon glyphicon-trash social"></span></a>
            </div>
            <div class="pull-right" data-bind="visible: !$data.readOnly()&&$data.deleted()">
                <a href="#" title="Restore" data-bind="click: $data.restoreComment"><span class="glyphicon glyphicon-wrench social"></span></a>
            </div>
        </div>
    </div>
</td></tr>
<tr><td>
    <span data-bind="html: $data.text, visible: !$data.deleted()"></span>
    <span data-bind="visible: $data.deleted" class="text-muted pull-right"><i>... comment deleted</i></span>
</td></tr>
    </tbody>
</table>

{% if current_user.is_authenticated %}
<form id="comment-form">
{% if current_user.is_authenticated %}
    <div data-bind="visible: preview.show">
        <div class="alert alert-danger">
            <button class="close" data-bind="click: preview.close">×</button>
            <strong>Warning!</strong> It's only preview, don't forget public your comment.
        </div>
        <div class="row">
            <div class="col-md-12">
                <div data-bind="html: preview.text"></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <textarea class="form-control" data-bind="value: text, valueUpdate: 'afterkeydown'" rows="6"></textarea>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <input class="btn btn-default" type="button" value="Preview" data-bind="click: preview">
                <input class="btn btn-default" type="button" value="Cancel" data-bind="visible: edit.show(), click: resetForm">
                <input class="btn btn-default" type="button" value="Edit" data-bind="visible: edit.show(), click: edit.send">
                <input class="btn btn-default" type="button" value="Send" data-bind="visible: !edit.show(), enable: postAvalible, click: send">
            </div>
        </div>
    </div>
{% endif %}
</form>
{% endif %}

<script type="text/javascript">
    var transport = new AjaxTransport({{ url_for("social.comment_update", post_id=post.id)|tojson|safe }});
    var commentForm = new CommentForm();
    ko.applyBindings(new CommentList([
    {% for record in post.comments -%}
        {{ record|comment_json|tojson|safe }},
    {%- endfor %}
    ], commentForm, transport), document.getElementById('comment-list'));
{% if current_user.is_authenticated %}
        ko.applyBindings(commentForm, document.getElementById('comment-form'));
    {% if rate %}
        ko.applyBindings(new RateForm({
            value: {{ post.rate|tojson }},
            minus: {{ rate.minus|tojson }},
            plus: {{ rate.plus|tojson }},
            transport: new AjaxTransport({{ url_for("social.post_rate", post_id=post.id)|tojson|safe }}),
        }), document.getElementById('rate-form'));
    {% endif %}
    $("#delete-post").click(function() {
        document.modalInfo.warning('Do you want delete this post and all comments?', function() {
            document.location.href = {{ url_for('social.delete_post', post_id=post.id)|tojson }};
        });
    });
    {% if poll_voting %}
    $("#vote-button").click(function() { document.getElementById("vote-form").submit(); })
    {% endif %}
{% endif %}
    $("#comment-button").click(function() { scrollToElement($("#comment-list")) });
</script>
{% endblock %}
