{% extends "login.html" %}

{% block data_form %}
    <div class="row-fluid">
        {% if success %}
            <div class="alert alert-success">
            <button class="close" data-dismiss="alert">×</button>
            Письмо с новым паролем было успешно выслано по указанному почтовому адресу
            </div>
        {% endif %}
        <form class="form-horizontal" action="" method="POST">
            <fieldset>
                {% load widget_tweaks %}
                <div class="control-group {% if form.e_mail.errors %}error{% endif %}">
                    <label class="control-label" for="id_e_mail">E-mail</label>
                    <div class="controls">
                        {{ form.e_mail|add_class:"span12"|attr:"placeholder:Обязательное поле" }}
                        {% for error in form.e_mail.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">Восстановить</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}