{% extends "main.html" %}

{% block text_area %}
    <div class="row-fluid">

        {% load widget_tweaks %}
        <div class="span7">
            {% block data_form %}
            <div class="row-fluid">
            <form class="form-horizontal" action="" method="POST">
                <fieldset>
                    <div class="control-group {% if form.name.errors %}error{% endif %}">
                        <label class="control-label" for="id_name">Имя</label>
                        <div class="controls">
                            {{ form.name|add_class:"span12" }}
                            {% for error in form.name.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="control-group {% if form.password.errors %}error{% endif %}">
                        <label class="control-label" for="id_password">Пароль</label>
                        <div class="controls">
                            {{ form.password|add_class:"span12" }}
                            {% for error in form.password.errors %}
                            <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-actions">
                        <a class="btn" href="/amnesia">Забыли пароль</a>
                        <button class="btn btn-primary" type="submit">Войти</button>
                    </div>
                </fieldset>
            </form>
            </div>
            {% endblock %}
        </div>
        <div class="span5">
            {% block help_text %}
            <p>Добро пожаловать!</p>
            <p>Что бы воспользоваться всеми функциями сайта Вам необходимо <a href="/new_user">зарегистрироваться</a> и <a href="/login">войти</a>.</p>
            <p>После этого Вы можете не только читать содержимое, но и публиковать собственные <a href="/rubric/articles">статьи</a>, задавать <a href="/rubric/qa">вопросы</a>, участвовать в <a href="/rubric/flame">обсуждениях</a>, писать в свой <a href="/rubric/blogs">личный блог</a>, а также же получите возможность воспользоваться многими новыми классными функциями которые обязательно будут добавлены в будущем.</p>
            <p>Что бы Ваше общение было комфортным и приятным возможно стоит ознакомиться с дополнительной <a href="/about">информацией о ресурсе</a>, <a href="/rules">правилами сообщества</a>, и небольшой <a href="/help">помощью</a> по функциям. Если у Вас возникнут сложности, <a href="/admins">администраторы</a> ресурса обязательно постараются Вам помочь.</p>
            <p>Надеемся Вам здесь понравиться.</p>
            {% endblock %}
        </div>
    </div>
{% endblock %}
