{% extends "login.html" %}

{% block data_form %}
    <div class="row-fluid">
        <form class="form-horizontal" action="" method="POST">
            <fieldset>
                {% load widget_tweaks %}
                <div class="control-group {% if form.name.errors %}error{% endif %}">
                    <label class="control-label" for="id_name">Имя</label>
                    <div class="controls">
                        {{ form.name|add_class:"span12"|attr:"placeholder:Обязательное поле" }}
                        {% for error in form.name.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="control-group {% if form.e_mail.errors %}error{% endif %}">
                    <label class="control-label" for="id_e_mail">E-mail</label>
                    <div class="controls">
                        {{ form.e_mail|add_class:"span12"|attr:"placeholder:Обязательное поле" }}
                        {% for error in form.e_mail.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="control-group {% if form.password.errors %}error{% endif %}">
                    <label class="control-label" for="id_password">Пароль</label>
                    <div class="controls">
                        {{ form.password|add_class:"span12"|attr:"placeholder:Обязательное поле" }}
                        {% for error in form.password.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="control-group {% if form.password_again.errors %}error{% endif %}">
                    <label class="control-label" for="id_password_again">Повторите пароль</label>
                    <div class="controls">
                        {{ form.password_again|add_class:"span12"|attr:"placeholder:Обязательное поле" }}
                        {% for error in form.password_again.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="control-group {% if form.country.errors %}error{% endif %}">
                    <label class="control-label" for="id_country">Страна</label>
                    <div class="controls">
                        {{ form.country|add_class:"span12"  }}
                        {% for error in form.country.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="control-group {% if form.city.errors %}error{% endif %}">
                    <label class="control-label" for="id_city">Город</label>
                    <div class="controls">
                        {{ form.city|add_class:"span12"  }}
                        {% for error in form.city.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="control-group {% if form.birth_day.errors or birth_month.city.errors or form.birth_year.errors %}error{% endif %}">
                    <label class="control-label">Дата рождения</label>
                    <div class="controls">
                        <div class="row-fluid">
                            <div class="span3">{{ form.birth_day|add_class:"span12" }}</div>
                            <div class="span5">{{ form.birth_month|add_class:"span12" }}</div>
                            <div class="span4">{{ form.birth_year|add_class:"span12"  }}</div>
                        </div>
                        {% for error in form.birth_day.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                        {% for error in birth_month.city.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                        {% for error in form.birth_year.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-actions">
                    <button class="btn btn-primary" type="submit">Создать</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}