{% extends "main.html" %}

{% block scripts %}
    <script type="text/javascript" src="/static/extern/jquery.scrollto.js"></script>
    <script type="text/javascript" src="/static/extern/markitup/jquery.markitup.js" xmlns="http://www.w3.org/1999/html"></script>
    <script type="text/javascript" src="/static/extern/markitup/sets/markdown/set_comment.js"></script>
    {% load compress %}
    {% compress js %}
    <script type="text/javascript" src="/static/scripts/tools.js"></script>
    <script type="text/javascript" src="/static/scripts/post.js"></script>
    {% endcompress %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("textarea").markItUp(mySettings);
        });
    </script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/extern/markitup/skins/simple/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/extern/markitup/sets/markdown/style_comment.css"/>
{% endblock %}

{% block post_commands %}
    {% if post.new_count %}
        <li><a href="#" onclick="scrollToElement($('#new'))"><span class="badge badge-info">Новые: {{ post.new_count }}</span></a></li>
    {% endif %}
{% endblock %}

{% block post_actions %}
    {% if can_edit %}
        <ul class="nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Править<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/edit_post/{{ post.id }}">Редактировать</a></li>
                </ul>
            </li>
        </ul>
    {% endif %}
{% endblock %}

{% block text_area %}
    {% load markup %}
    <div post_id="{{ post.id }}">
        {% include "post_text.html" %}
        <p>
        {% for tag in post.tags.all %}
            <a href="{{ stable.blog_ref }}/tag/{{ tag.title }}">{{ tag.title }}</a>,
        {% endfor %}
        </p>
        <div style="overflow: auto">
        {% if post.author.get_profile.avatar %}
            <div style="height: 36px; float: left; margin-right: 10px"><img src="/static/avatars/{{ post.author.get_profile.avatar }}" style="max-height: 36px" alt=""></div>
        {% endif %}

            <div vote_tools="null" style="color:#cccccc; float: left">
                {% if stable.auth and stable.auth.username != post.author.username %}
                <a id="cancel-up" style="cursor: pointer; color:#ff0000; {% if not post.vote_up %}display: none;{% endif %}">&uArr;</a>
                <a id="vote-up" style="cursor: pointer; color:#cccccc; {% if post.vote_up %}display: none;{% endif %}">&uArr;</a>
                {% endif %}
                <a id="rate" style="color:#ff8888">{% if post.rate > 0 %}+{% endif %}{{ post.rate }}</a>
                {% if stable.auth and stable.auth.username != post.author.username %}
                <a id="cancel-down" style="cursor: pointer; color:#ff0000; {% if not post.vote_down %}display: none;{% endif %}">&dArr;</a>
                <a id="vote-down" style="cursor: pointer; color:#cccccc; {% if post.vote_down %}display: none;{% endif %}">&dArr;</a>
                {% endif %}
                &ndash;
                <a href="/user/{{ post.author.username }}">{{ post.author.username }}</a>, {{ post.time}},
            </div>
            <hr style="margin-bottom: 0px"/>
            {% if stable.auth %}
            <div style="color:#cccccc; float: right;">
                <a comment_command="null" style="cursor: pointer">комментировать</a>
                <a href="/new_comment/{{ post.id }}">&raquo;</a>
            </div>
            {% endif %}
        </div>

        <div id="comments" style="margin-left: 5%;">
            {% for comment in comments %}
                {% include "comment.html" %}
            {% endfor %}
        </div>

        {% if stable.auth %}
        <div comment_area="null">
            <div id="answer-form" parent="null" class="row-fluid">
                <form>
                    <fieldset>
                        <div class="control-group">
                            <div class="controls">
                                <textarea id="id-text" name="text" class="span12"></textarea>
                            </div>
                        </div>
                        <div class="form-actions">
                            <input id="send-comment" class="btn btn-primary" type="button" value="Отправить">
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
    <script type="text/javascript">
        ko.applyBindings(new Bookmark({{ post.id }}, {% if post.bookmarked %}true{% else %}false{% endif %} ), document.getElementById("bookmark"));
    </script>
{% endblock %}

