{% extends "main.html" %}

{% block text_area %}
    <div class="row-fluid">
        <div class="span7">
            {% if not profile.user.is_active %}
                <div class="alert alert-error">
                    <button class="close" data-dismiss="alert">×</button>
                    Данный пользователь заблокирован
                </div>
            {% endif %}
            {% if profile.avatar %}
            <div ><img src="/static/avatars/{{ profile.avatar }}" alt=""></div>
            {% endif %}
            <div style="overflow: auto;">
                <div style="float: left"><h2>{{ profile.user.username }}</h2></div>
                <div style="float: right"><h2>{% if profile.rate > 0 %}+{% endif %}{{ profile.rate }}</h2></div>
            </div>
            <div><i>Доступно голосов в сутки: {{ rate_limit }}</i></div>
            <div>Страна: {% if profile.country %}{{ profile.country }}{% endif %}</div>
            <div>Город: {% if profile.city %}{{ profile.city }}{% endif %}</div>
            <div>День рождения: {% if profile.birth_date %}{{ profile.birth_date }}{% endif %}</div>
            <div>Зарегистрирован: {{ profile.user.date_joined }}</div>
            <div>Последний визит: {{  profile.user.last_login }}</div>
            <div>Количество постов: {{ posts_count }} (из них в <a href="/blog/{{ profile.user.username }}">личном блоге</a>: {{ blog_count }})</div>
            <div>Количество коментариев: {{ comments_count }}</div>
            <div><a href="/mail/new/{{ profile.user.username }}">Написать личное сообщение</a></div>
        </div>
        <div class="span5">
            {% if posts %}
            <div class="well">
                <p><h4>Последние посты:</h4></p>
                {% for post in posts %}
                    <p>{% if post.rate > 0 %}+{% endif %}{{ post.rate }} <a href="/post/{{ post.id }}">{{ post.title }}</a></p>
                {% endfor %}
            </div>
            {% endif %}
            &nbsp;
        </div>
    </div>

{% endblock %}