.social {
    opacity:0.2;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}
.social:hover {
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}
.image-muted {
    opacity:0.2;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}
.empty-star {
    height: 20px;
    width: 20px;
    display: inline-block;
    background-image: url(../glyphicons-49-star-empty.png);
    background-size: cover;
    vertical-align: -2px;
    margin-right: 5px;
}
.full-star {
    height: 20px;
    width: 20px;
    display: inline-block;
    background-image: url(../glyphicons-50-star.png);
    background-size: cover;
    vertical-align: -2px;
    margin-right: 5px;
}
.form-sign {
    padding: 19px 29px 29px;
    margin: 30px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-sign .form-sign-heading,
.form-sign .checkbox {
    margin-bottom: 10px;
}
.form-sign input[type="text"],
.form-sign input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
.side-block {
    padding: 15px 15px 10px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.hq-brand {
    font-weight: bold
}

.hq-brand-color {
    color: #db0000;
}

/* units */
.bs-callout {
    margin: 10px 0;
    padding: 10px;
    background-color: #ffffff;
    border-left: 3px solid #eee;
}
.bs-callout-unit {
    border-color: #f0ad4e;
}
.bs-callout-subunit {
    border-style: solid;
    border-width: 1px 1px 1px 4px;
    border-color: #eeeeee;
}

.bs-callout-win {
    border-color: #f0ad4e;
}

.bs-callout-lose {
    border-color: #f00000;
}

.bs-callout-draw {
    border-color: darkgray;
}

.vertical-align-middle {
    vertical-align: middle;
}

.inferior-checkbox {
    margin-left: 25px;
}
