<div>
    <a href="{{ url_for('social.timeline', user=record.author.name) }}">{{ record.author.name }}</a>
    <i class="text-muted">@
        <script>document.write(moment({{ record.created|moment_js_utc|tojson|safe }}).fromNow());</script>
        (<script>document.write(moment({{ record.created|moment_js_utc|tojson|safe }}).format('LLL'));</script>)
    </i>
</div>
