{%- macro poll_vote_variants(poll, post) -%}

<div class="row">
  <form id="vote-form" action={{ url_for("social.vote", post_id=post.id) }} method="post">
    <div class="panel">
      <div class="panel-body">
        <ul class="list-group">
          {% for variant in poll.variants %}
          <li class="list-group-item">
            <div class="radio">
              <label>
                <input type="radio" name="variantRadios" value="{{ variant.id }}">
                {{ variant.text }}
              </label>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="panel-footer">

        <button type="button" class="btn btn-primary btn-sm" id="vote-button" disabled>
          Vote</button>
        <a href="{{ url_for('social.post', post_id=post.id) }}?result=true">View Result</a>
      </div> 
    </div>
  </form>
  <script>
$(document).ready(function() {
    $('input[type=radio][name=variantRadios]').on('change', function() {
        $('#vote-button').prop('disabled',false);
    });
});
  </script>
</div>

{%- endmacro -%}

{%- macro poll_vote_results(results) %}

<div class="row">
  <div class="panel">
    <div class="panel-body">
      {%- for variant in results.variants %}
      <p>{{ variant.text }}</p>
      <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{ variant.percentage }}">
          <p>{{ variant.percentage }}&nbsp;({{ variant.votes|string }}&nbsp;votes)
        </div>
      </div>
      {% endfor -%}
      <p><b>{{ results.total }} votes total</b></p>
    </div>
  </div>
</div>

{%- endmacro -%}
