{% if post_header.title %}
    {{ post_header.title }}
{% else %}
    {{ record.author.name }} <span class="text-muted">@ <script>document.write(moment({{ record.created|moment_js_utc|tojson|safe }}).format('LLL'));</script></span>
{% endif %}
