{% extends "main.html" %}

{% block container %}
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-default" href="{{ url_for('builder.download_roster', roster_id=roster_id, format_id=format_id, placeholder=placeholder) }}"><i class="glyphicon glyphicon-download-alt"></i> Download</a>
        <form role="form">
            <div class="form-group">
                <textarea id="txtarea" rows="40" class="col-md-12">{{ roster }}</textarea>
            </div>
        </form>
    </div>
</div>
<script>
    document.getElementById('txtarea').focus();
    document.getElementById('txtarea').select();
</script>
{% endblock %}


