{% extends "main.html" %}

{% block main_area %}
<div class="vertical-align-middle center-block">
  <img src="/static/downtime/error.png">
  <p>Oops! Seems like an error occured</p>
  <p>Please report to the maintenance team</p>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <p>The problem occured when accessing <a href="{{ messages[0] }}">this</a> page.</p>
  {% endif %}
  {% endwith %}
</div>

{% endblock %}
