<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ roster.name }} ({{ roster.points }}{% if roster.limit %}/{{ roster.limit }}{% endif %}pt.) {% if roster.errors|length %}Errors:
        {{ roster.errors|length }}{% endif %} # {{ roster.description }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <script type="text/javascript" src="/static/extern/jquery.min.js"></script>

    <link href="/static/extern/bootstrap3/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            zoom: 0.7;
            -moz-transform: scale(0.7);
            -moz-transform-origin: 0 0
        }
    </style>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<body>

{% macro unit_header(unit) -%}
    <div class="row">
        <div class="col-md-12">
            <h4>
                {% if unit.description.count > 1 %}<span>{{ unit.description.count }}x</span> - {% endif %}{{ unit.description.name }} <span>({{ unit.description.points }})</span>
            </h4>
        </div>
    </div>
{%- endmacro -%}

{% macro section_header(section, hsize) -%}
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <h{{ hsize }}>{{ section.name }}</h{{ hsize }}>
            </div>
            <div class="pull-right">
                <h{{ hsize }}>[ {{ section.units|length }} ]</h{{ hsize }}>
            </div>
        </div>
    </div>
{%- endmacro -%}

{% macro options_description(options) -%}
    <span>
        {%- for option in options %}
            {% if option.count -%}
                <em>{{ option.name }}{% if option.count > 1 -%} (x{{ option.count }}){%- endif -%};</em>
            {%- endif -%}
        {%- endfor -%}
    </span>
{%- endmacro -%}

{%- macro build_unit(unit) -%}
    <div class="row">
        <div class="col-md-12">
            <div>{{ options_description(unit.description.options) }}</div>
            {% for unit in unit.description.sub_units recursive %}
                <div>
                    {% if unit.sub_units|length %}
                        <h5>
                            {% if unit.count > 1 %}<span>{{ unit.count }}x</span> {% endif %}{{ unit.name }} <span >({{ unit.points }}pt.)</span>
                        </h5>
                        <div>{{ options_description(unit.options) }}</div>
                        <div style="margin-left: 20px">
                            {{ loop(unit.sub_units) }}
                        </div>

                    {% else %}
                        <span>&sect; {{ unit.count }}x</span>
                        {{ unit.name }} {% if unit.points %}({{ unit.points }}pt.){% endif %}</span>;
                        {{ options_description(unit.options) }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{%- endmacro -%}

{%- macro build_roster(roster) -%}

        {% for section in roster.sections %}
            {% if section.units|length %}
                {{ section_header(section, 3) }}
                <div>
                    {% for unit in section.units %}
                        {{ unit_header(unit) }}
                        {% if unit.detach_unit %}
                            {{ build_detach_unit(unit) }}
                        {% else %}
                            {{ build_unit(unit) }}
                        {% endif %}
                    {% endfor %}
                </div>
                <hr>
            {% endif %}
        {% endfor %}

{%- endmacro -%}

{%- macro build_formation(formation) -%}
                <div>
                    {% for unit in formation.units %}
                        {{ unit_header(unit) }}
                        {% if unit.detach_unit %}
                            {{ build_detach_unit(unit) }}
                        {% else %}
                            {{ build_unit(unit) }}
                        {% endif %}
                    {% endfor %}
                </div>
                <hr>
{%- endmacro -%}

{%- macro build_detach_unit(unit) -%}
    {% for option in unit.options %}
        {% if option.type == 'formation' %}
            {{ build_formation(option.roster) }}
        {% else %}
            {{ build_roster(option.roster) }}
        {% endif %}
    {% endfor %}
{%- endmacro -%}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <h2>{{ roster.name }}</h2>
            </div>
            <div class="pull-right">
                <h3>{{ roster.points }}/{% if roster.limit %}{{ roster.limit }}{% else %}&infin;{% endif %}pt.</h3>
            </div>
        </div>
    </div>
    <div>
        <p><em>{{ roster.description }}</em></p>
    </div>
    <hr>
    {% if roster.errors %}
        <div>
            <h4>Errors:</h4>
            <ul>
                {% for error in roster.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        <hr>
    {% endif %}
    <div>
      {{ build_roster(roster) }}
    </div>
    {%- if roster.statistics %}
    <div id="statistics" class="row">
      <!-- Filled dynamically from data? -->
      <div class="col-md-12">
        <div class="pull-left">
          <h3>Statistics</h3>
          {%- for item in roster.statistics %}
          <p>{{ item }}: {{ roster.statistics[item] }}</p>
          {%- endfor -%}
        </div>
      </div>
    </div>
    {% endif %}
    <script>
        $(document).ready(function() {
            window.print();
        })
    </script>
</div>
</body>
</html>

