<a href="{{ url_for('builder.clone_roster', roster_id=roster.id) }}" class="btn btn-default"><span class="glyphicon glyphicon-resize-full"></span> Copy</a>
<a href="{{ url_for('builder.print_roster', roster_id=roster.id) }}" class="btn btn-default"><span class="glyphicon glyphicon-print"></span> Print</a>
<div class="btn-group">
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-share"></span> Export <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('builder.export_roster', roster_id=roster.id, format_id='html') }}">HTML page</a></li>
        <li><a href="{{ url_for('builder.export_roster', roster_id=roster.id, format_id='bbcode') }}">Forum post (BBCode)</a></li>
        <li><a href="{{ url_for('builder.export_roster', roster_id=roster.id, format_id='mdn') }}">Markdown</a></li>
        <li><a href="{{ url_for('builder.export_roster', roster_id=roster.id, format_id='txt') }}">Plain text</a></li>
    </ul>
</div>

