{% extends "main.html" %}

{% macro section_header(hsize) -%}
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <h{{ hsize }}><span data-bind="text: $data.name"></span></h{{ hsize }}>
            </div>
            <div class="pull-right">
                <h{{ hsize }} class="text-muted">[<a href="#" data-bind="click: $data.setupClick"><span data-bind="text: $data.min()===null?0:$data.min()"></span> - <span data-bind="text: $data.max()===null?'\u221E':$data.max()"></span></a>]</h{{ hsize }}>
            </div>
        </div>
    </div>
    <div data-bind="with: $data.range">
        <div class="bs-callout bs-callout-unit" data-bind="visible: $data.active">
            <div class="row">
                <div class="col-md-12">
                    <h4>Section limits</h4>
                </div>
            </div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">Range</label>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3">
                                <input type="text" class="form-control" data-bind="value: $data.min, event: {keypress: min.key}"/>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" data-bind="value: $data.max, event: {keypress: min.key}"/>
                            </div>
                            <div class="col-md-6">
                                <span class="btn-group">
                                    <button class="btn btn-default" type="button" data-bind="click: $data.ok"><span class="glyphicon glyphicon-ok"></span></button>
                                    <button class="btn btn-default" type="button" data-bind="click: $data.cancel"><span class="glyphicon glyphicon-remove"></span></button>
                                </span>
                            </div>
                        </div>
                        <span class="help-block text-muted"><i>Keep fields blank for unlimited</i></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
{%- endmacro -%}

{% macro unit_header(h) %}
    <h{{ h }}>
      <span data-bind="visible: $data.star() > 0, css: { 'full-star': $data.star() == 2, 'empty-star': $data.star() == 1 }, click: $data.toggle_star"></span>
      <a href="#" data-bind="click: $data.edit">
        <span class="text-muted" data-bind='visible: $data.descriptionObject().count > 1, text: $data.descriptionObject().count+"x"'></span>
        <span data-bind='text: $data.descriptionObject().name'></span>
        <span class="text-muted">(<span data-bind='text: $data.descriptionObject().points'></span>pt.)</span>
      </a>
      <a title="Unit description in wiki form" data-bind="attr: {href: $data.link}, visible: $data.link" target="_blank">
        <span class='glyphicon glyphicon-question-sign'></span>
      </a>
    </h{{ h }}>
{% endmacro %}

{% macro errors() %}
<div class="row">
    <div class="col-md-12">
        <div data-bind="foreach: $data.errors">
            <div class="alert alert-danger">
                <strong>Error!</strong> <span data-bind='text: $data'></span>
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro options_block() %}
<div class="row">
    <div class="col-md-12">
        <form role="form" class="form-horizontal">
            <div data-bind="template : { foreach: $data.optionsBlock.options, name: $data.optionsBlock.getType }"></div>
        </form>
    </div>
</div>
{% endmacro %}

{% macro unit_description() %}
<div class="row">
    <div class="col-md-12">
        <div data-bind="template : { data: $data.descriptionObject(), name: 'options_description' }"></div>
        <div data-bind="template : { foreach: $data.descriptionObject().sub_units, name: 'unit_description' }"></div>
    </div>
</div>
{% endmacro %}

{% macro text_script(name) %}
    <script type="text/html" id="{{ name }}">
        {{ caller() }}
    </script>
{% endmacro %}

{% macro option(name) %}
    <script type="text/html" id="{{ name }}">
        <div class="form-group" data-bind="visible: $data.visible">
            <label class="col-md-3 control-label" data-bind="text: $data.section"></label>
            <div class="col-md-9">
                {{ caller() }}
            </div>
        </div>
    </script>
{% endmacro %}

{% macro settings(h) %}
    <div class="row" data-bind="visible: $data.settings.block.visible">
        <div class="col-md-12">
            <div class="bs-callout bs-callout-unit">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-left"><h{{ h }}>Settings</h{{ h }}></div>
                        <div class="pull-right" data-bind="with: $data.settings">
                            <a href="#" data-bind="click: $data.activate, visible: !$data.active()" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="#" data-bind="click: $data.activate, visible: $data.active" title="Close"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    </div>
                </div>
                <form role="form" class="form-horizontal" data-bind="visible: $data.settings.active">
                    <div data-bind="template: {foreach: $data.settings.block.options, name: $data.settings.block.getType}"></div>
                </form>
                <span class="text-muted" data-bind='foreach: $data.options_description, visible: !$data.settings.active()'>
                    <span data-bind="text: $data.name"></span>;
                </span>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro properties() %}
    <div class="row" data-bind="visible: $data.properties.block.visible">
        <div class="col-md-12">
            <div class="bs-callout bs-callout-unit">
                <form role="form" class="form-horizontal" data-bind="visible: $data.properties.active">
                    <div data-bind="template: {foreach: $data.properties.block.options, name: $data.properties.block.getType}"></div>
                </form>
            </div>
        </div>
    </div>
{% endmacro %}

{% block nav %}
    {% call navbar('roster', current_user) %}
        <ul id="roster_header" class="nav navbar-nav">
            <li><a href="#" id="roster_shortcut"><span data-bind='text: name.value'></span> (<span data-bind='text: points'></span>/<span data-bind='text: limit.value()?limit.value():"\u221E"'></span> pt.)</a></li>
            <li data-bind="visible: $data.data.errorsCount()>0"><a id="error_count"><span class="label label-danger">Errors: <span data-bind='text: $data.data.errorsCount'></span></span></a></li>
        </ul>
    {% endcall %}
{% endblock %}

{% block main_area %}
    {% include "partial/info_modal.html" %}
    <div id="roster" class="bs-callout bs-callout-unit">
        <div data-bind="visible: !loaded()">
            <em class="text-muted">Loading ...</em>
        </div>
        <div data-bind="visible: loaded" style="display: none">
            {% if roster.obsolete %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Heads up!</strong> These army list is obsolete and no longer officially supported. Some new
                features and bug fixes can be unavailable. Please, recreate you roster if you want have latest version
                of this army list.
            </div>
            {% endif %}
            <div>
                <button class="btn btn-default" data-bind="click: setupClick"><span class="glyphicon glyphicon-pencil"></span> Settings</button>
                <a href="{{ url_for('builder.shared_roster', roster_id=roster.id) }}" class="btn btn-default"><span class="glyphicon glyphicon-share-alt"></span> Share</a>
                <a href="{{ url_for('social.public_roster', roster_id=roster.id) }}" class="btn btn-default"><span class="glyphicon glyphicon-star"></span> Public</a>
                {% include "builder/roster_actions.html" %}
                <button class="btn btn-default" data-bind="click: deleteRoster"><span class="glyphicon glyphicon-trash"></span> Delete</button>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <h1><span data-bind='text: name.value'></span></h1>
                    </div>
                    <div class="pull-right">
                        <h2 class="text-muted">
                            <span data-bind='text: points'></span>/<a href="#" data-bind="click: setupClick"><span data-bind='text: limit.value()?limit.value():"\u221E"'></span></a>
                        </h2>
                    </div>
                </div>
            </div>
            <div>
                <p class="text-muted"><em><span data-bind='text: description.value'></span></em></p>
            </div>
            <div id="settings" data-bind="with: $data.data, visible: $data.data.settings.active">
                {{ settings(4) }}
            </div>
            <div id="properties" data-bind="with: $data.data, visible:$data.data.properties.active">
                {{ properties() }}
            </div>
            <div data-bind="with: $data.data" id="errors">
                {{ errors() }}
            </div>
            <div data-bind="foreach: $data.data.sections">
                {{ section_header(2) }}
                <div data-bind="template : { data: $data, name: 'section_actions' }"></div>
                <div data-bind="template : { foreach: $data.units, name: 'unit' }"></div>
            </div>
            <div id="statistics" class="row">
              <!-- Filled dynamically from data? -->
              <div class="col-md-12">
                <div class="pull-left">
                  <h3>Statistics</h3>
                  <div data-bind="foreach: $data.data.statistics">
                    <div data-bind="html: item"></div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>

{% call text_script("unit_description") %}
    <div data-bind="visible: $data.count">
        <div data-bind="visible: !$data.sub_units.length">
            <span class="text-muted">&sect;</span>
            <span class="text-muted" data-bind="text: $data.count+'x'"></span>
            <span data-bind='text: $data.name'></span><span data-bind="visible: $data.points"> (<span data-bind='text: $data.points'></span>pt.)</span>;
            <span data-bind="template : { data: $data, name: 'options_description' }"></span>
        </div>
        <div data-bind="visible: $data.sub_units.length">
            <h5>
                <span class="text-muted" data-bind='visible: $data.count > 1, text: $data.count+"x"'></span>
                <span data-bind='text: $data.name'></span>
                <span class="text-muted">(<span data-bind='text: $data.points'></span>pt.)</span>
            </h5>
            <div data-bind="template : { data: $data, name: 'options_description' }"></div>
            <div style="margin-left: 20px" data-bind="template : { foreach: $data.sub_units, name: 'unit_description' }"></div>
        </div>
    </div>
{% endcall %}

{% call text_script("options_description") %}
    <span class="text-muted" data-bind='foreach: options'>
        <em data-bind="visible: $data.count">
            <span data-bind="text: $data.count>1? $data.name+' (x'+$data.count+')': $data.name"></span>;
        </em>
    </span>
{% endcall %}

{% call text_script('section_actions') %}
<div class="row" data-bind="visible: $data.types.visible">
    <div class="col-md-6">
        <div class="input-group" data-bind="with: $data.types">
            <select class="selectpicker" data-bind="options: $data.options, optionsText: 'name', optionsAfterRender: $data.setOptionDisable, value: $data.cur, pickerinit: true" data-live-search="true"></select>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" title="Add" data-bind="click: $data.add"><span class="glyphicon glyphicon-plus"></span></button>
            </span>
        </div>
    </div>
    <div class="container-fluid">
        <div class="pull-right">
            <button class="btn btn-default" type="button" title="Clear" data-bind="click: $data.clear"><span class="glyphicon glyphicon-trash"></span> Clear</button>
        </div>
    </div>
</div>
{% endcall %}

{% call text_script('formation_actions') %}
<div class="row" data-bind="visible: $data.types.visible">
    <div class="col-md-6">
        <div class="input-group" data-bind="with: $data.types">
            <select class="selectpicker" data-bind="options: $data.options, optionsText: 'name', optionsAfterRender: $data.setOptionDisable, value: $data.cur, pickerinit: true" data-live-search="true"></select>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" title="Add" data-bind="click: $data.add"><span class="glyphicon glyphicon-plus"></span></button>
            </span>
        </div>
    </div>
</div>
{% endcall %}

{% call option('one_of') %}
    <select class="form-control" data-bind="options: $data.options, optionsText: 'name', optionsAfterRender: setOptionDisable, value: $data.cur "></select>
{% endcall %}

{% call option('options_list') %}
    <div data-bind="foreach:  $data.options" >
        <div class="checkbox" data-bind="css: { 'inferior-checkbox': !$data.is_top }, visible: $data.visible">
            <input type="checkbox" data-bind="checked: $data.value, disable: !$data.active()||!$parent.active()">
            <span data-bind="text: $data.name"></span>
        </div>
    </div>
{% endcall %}

{% call option('generic_count') %}
    <div class="row">
        <div class="col-md-3">
            <select class="form-control" data-bind="options: $data.options, value: $data.cur, disable: $data.disabled||!$data.active"></select>
        </div>
        <div class="col-md-9">
            <p class="form-control-static" data-bind="text: $data.help"></p>
        </div>
    </div>
{% endcall %}

{% call option('edit_field') %}
    <div data-bind="visible: !$data.editable()">
        <p class="form-control-static" data-bind="click: $data.onClick">
            <span data-bind="text: $data.value"></span> <span class="glyphicon glyphicon-pencil image-muted"></span>
        </p>
    </div>
    <div class="input-group" data-bind="visible: editable">
        <input type="text" class="form-control" data-bind="value: $data.newValue, hasFocus: $data.focused, event: {keypress: $data.newValue.key">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" data-bind="click: $data.onOk"><span class="glyphicon glyphicon-ok"></span></button>
            <button class="btn btn-default" type="button" data-bind="click: $data.onCancel"><span class="glyphicon glyphicon-remove"></span></button>
        </span>
    </div>
{% endcall %}

{% call option('roster_limit') %}
    <div data-bind="visible: !$data.editable()">
        <p class="form-control-static" data-bind="click: $data.onClick">
            <span data-bind="text: $data.value"></span> <span class="glyphicon glyphicon-pencil image-muted"></span>
        </p>
    </div>
    <div class="row" data-bind="visible: editable">
        <div class="col-xs-4">
            <div class="input-group">
                <input type="text" class="form-control" data-bind="value: $data.newValue, hasFocus: $data.focused, event: {keypress: $data.newValue.key}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" data-bind="click: $data.onOk"><span class="glyphicon glyphicon-ok"></span></button>
                    <button class="btn btn-default" type="button" data-bind="click: $data.onCancel"><span class="glyphicon glyphicon-remove"></span></button>
                </span>
            </div>
        </div>
        <div class="pull-left">
            <p class="form-control-static text-muted"><i>Keep blank for unlimited roster</i></p>
        </div>
    </div>
{% endcall %}

{% call text_script('unit') %}
<div class="bs-callout bs-callout-unit">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
              {{ unit_header(4) }}
            </div>
            <div class="pull-right">
                <a href="#" data-bind="click: $data.edit, visible: !$data.isActive()&&!$data.static_unit()&&!$data.detachUnit" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="#" data-bind="click: $data.edit, visible: $data.isActive()" title="Close"><span class="glyphicon glyphicon-remove"></span></a>
                <a href="#" data-bind="click: $data.toggle_custom_name" title="Custom name"><span class="glyphicon glyphicon-tag"></span></a>
                <a href="#" data-bind="visible: !$data.unique, click: $data.clone" title="Copy"><span class="glyphicon glyphicon-resize-full"></span></a>
                <a href="#" data-bind="click: $data.del" title="Delete"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
        </div>
    </div>
    {{ errors() }}
    <div data-bind="visible: !$data.isActive()">
        {{ unit_description() }}
    </div>
    <div data-bind="template : { data: $data.user_name, name: 'edit_field' }"></div>
    <div data-bind="visible: $data.isActive()||$data.detachUnit">
        {{ options_block() }}
    </div>
</div>
{% endcall %}

{% call text_script('sub_unit') %}
<div class="bs-callout bs-callout-subunit" data-bind="visible: $data.visible, with: $data.unit">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                {{ unit_header(5) }}
            </div>
            <div class="pull-right">
                <a href="#" data-bind="click: $data.edit, visible: !$data.isActive()&&!$data.static_unit()" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="#" data-bind="click: $data.edit, visible: $data.isActive()" title="Close"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
        </div>
    </div>
    {{ errors() }}
    <div data-bind="visible: !$data.isActive()">
        {{ unit_description() }}
    </div>
    <div data-bind="visible: $data.isActive()">
        {{ options_block() }}
    </div>
</div>
{% endcall %}

{% call text_script('unit_list') %}
<div data-bind="visible: $data.visible, foreach: $data.units">
    <div class="bs-callout bs-callout-subunit">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    {{ unit_header(5) }}
                </div>
                <div class="pull-right">
                    <a href="#" data-bind="click: $data.edit, visible: !$data.isActive()&&!$data.static_unit()" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="#" data-bind="click: $data.edit, visible: $data.isActive()" title="Close"><span class="glyphicon glyphicon-remove"></span></a>
                    <a href="#" data-bind="click: $data.add, visible: $parent.canAdd" title="Add"><span class="glyphicon glyphicon-plus"></span></a>
                    <a href="#" data-bind="click: $data.split, visible: $data.canSplit" title="Split"><span class="glyphicon glyphicon-transfer"></span></a>
                    <a href="#" data-bind="click: $data.del, visible: $parent.canDelete" title="Delete"><span class="glyphicon glyphicon-trash"></span></a>
                </div>
            </div>
        </div>
        {{ errors() }}
        <div data-bind="visible: !$data.isActive()">
            {{ unit_description() }}
        </div>
        <div data-bind="visible: $data.isActive()">
            {{ options_block() }}
        </div>
    </div>
</div>
{% endcall %}

{% call text_script('sub_roster') %}
<div data-bind="with: roster">
    {{ settings(4) }}
    <div data-bind="foreach: $data.sections">
        {{ section_header(3) }}
        <div data-bind="template : { data: $data, name: 'section_actions' }"></div>
        <div data-bind="template : { foreach: $data.units, name: 'unit' }"></div>
    </div>
</div>
{% endcall %}


{% call text_script('formation') %}
  {{ settings(4) }}
  <div data-bind="template : { data: $data, name: 'formation_actions' }"></div>
  <div data-bind="template : { foreach: $data.units, name: 'unit' }"></div>
{% endcall %}


{% call text_script('optional_sub_unit') %}
<div data-bind="visible: $data.visible">
    <div data-bind="template : { data: $data.options, name: 'options_list' }"></div>
    <div data-bind="foreach: $data.sub_units">
      <div data-bind="template : { name: $data.type }"></div>
    </div>
</div>
{% endcall %}

    <script>
        roster = new Roster({
            data: {{ roster|tojson|safe }},
            updateUrl: {{ url_for('builder.update_roster')|tojson|safe }},
            deleteUrl: {{ url_for('builder.delete_roster')|tojson|safe }}
        });
        ko.applyBindings(roster, document.getElementById('roster'));
        ko.applyBindings(roster, document.getElementById('roster_header'));
        $("#roster_shortcut").click(function() { scrollToElement($("#roster")) });
        $("#error_count").click(function() { scrollToElement($("#errors")) });
    </script>
{% endblock %}
