{% extends "main.html" %}

{% block title %}
    {{ roster.name }} ({{ roster.points }}{% if roster.limit %}/{{ roster.limit }}{% endif %}pt.) {% if roster.errors|length %}Errors: {{ roster.errors|length }}{% endif %} # {{ roster.description }}
{% endblock %}

{% block nav %}
    {% call navbar('roster', current_user) %}
        <ul id="roster_header" class="nav navbar-nav">
            <li><a href="#" id="roster_shortcut">{{ roster.name }} ({{ roster.points }}/{% if roster.limit %}{{ roster.limit }}{% else %}&infin;{% endif %} pt.)</a></li>
            {% if roster.errors|length %}
                <li><a id="error_count" href="#"><span class="label label-danger">Errors: {{ roster.errors|length }}</span></a></li>
            {% endif %}
            </ul>
    {% endcall %}
{% endblock %}


{% block main_area %}
<div id="roster">
    <h4>
    {% include "builder/roster_actions.html" %}
    </h4>
    {% include 'builder/export/view.html' %}
</div>

<script>
    $("#roster_shortcut").click(function() { scrollToElement($("#roster")) });
    $("#error_count").click(function() { scrollToElement($("#errors")) });
</script>
{% endblock %}
