<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Head Quarters{% endblock %}</title>

    {% assets "css_all"%}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }
        /* navbar */
        @media (max-width: 991px) {
            .navbar-header {
            float: none;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-nav {
            float: none!important;
            margin: 7.5px -15px;
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .navbar-text {
            float: none;
            margin: 15px 0;
        }
        /* since 3.1.0 */
        .navbar-collapse.collapse.in { 
            display: block!important;
        }
        .collapsing {
            overflow: hidden!important;
        }
    }
    </style>
    {% block styles %}{% endblock %}
    {% assets "js_all"%}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
    {% block scripts %}{% endblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

{% from "auth/macro.html" import auth_form_field, auth_form_header %}
{% from "partial/navbar.html" import navbar %}

<body>

{% block nav %}{{ navbar('rosters', current_user) }}{% endblock %}

<div class="container">
    {% block container %}
    <div class="row">
        <div class="col-md-8">
            {% block main_area %}{% endblock %}
        </div>
        <div class="col-md-4">

            <div class="text-center">
                <div class="pluso" data-background="transparent" data-options="medium,square,line,horizontal,counter,theme=04" data-services="facebook,twitter,google,vkontakte,email"></div>
            </div>
            {% include "social/elements/latest_public.html" %}
        </div>
    </div>
    {% endblock %}

<script type="text/javascript">
    (function() {
        if (window.pluso)if (typeof window.pluso.start == "function") return;
        if (window.ifpluso==undefined) { window.ifpluso = 1;
        var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
        s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
        s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
        var h=d[g]('body')[0];
        h.appendChild(s);
    }})();
</script>
{% include "partial/footer.html" %}
</div>
</body>
</html>
