{%- macro auth_form_header(zone) -%}
    <li {% if zone=='signin' %}class="active"{% endif %}><a href="{{ url_for('auth.signin_page') }}">Sign In</a></li>
    <li {% if zone=='signup' %}class="active"{% endif %}><a href="{{ url_for('auth.signup_page') }}">Sign Up</a></li>
{%- endmacro -%}

{%- macro auth_form_field(field, size) -%}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
    {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
    {% endfor %}
    {{ field(placeholder=field.label.text, class="form-control", size=size) }}
    </div>
{%- endmacro -%}
