{% extends "main.html" %}

{% block container %}
<div class="row">
    <div class="col-md-8">
        <div class="page-header">
            <h1><span class="hq-brand-color">H</span>ead <span class="hq-brand-color">Q</span>uarters <small>Online roster builder</small></h1>
        </div>
        <h3>Supported armies</h3>
        {% for game in games %}
            <p>{{ game.name }}: <em class="text-muted">{{ game.armies[0][0] }}{% for army in game.armies[1:] %}, {{ army[0] }}{% endfor %}</em></p>
        {% endfor %}
        <hr/>
        <p><div class="label label-info">Heads up!</div> Keep in mind, we are in beta testing now. Feel free to send your comments and bug reports to <a href="mailto:kurvivor19@yandex.ru?subject=support">bugs@hq-builder.com</a></p>
        <p>You can contribute by participating in development by forking <a href="https://bitbucket.org/kurvivor19/hqbuilderneo.git">our repository on Bitbucket</a> and submitting pull requests.</p>
    </div>

    <div  class="col-md-4">
        <div class="form-sign">
            <ul class="nav nav-tabs">
                {% block form_header %}
                    {{ auth_form_header('signin') }}
                {% endblock %}
            </ul>
            <div class="tab-content">
                <form class="tab-pane active" action="" method="post">
                <div class="form-group">
                    {{ form.csrf_token }}
                </div>
                {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="form-group has-{{ message[0] }}">
                        <span class="help-block">{{ message[1] }}</span>
                    </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}

                {% block fields %}
                    {{ auth_form_field(form.email, 120) }}
                    {{ auth_form_field(form.password, 90) }}
                    <button class="btn btn-primary" type="submit">Sign in</button>
                    <a href="{{ url_for('auth.amnesia') }}" class="btn btn-link">Forgot password?</a>
                {% endblock %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

