<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bunker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/extern/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/extern/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>

    {% block styles %}{% endblock %}
    <script type="text/javascript" src="/static/extern/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/extern/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/extern/knockout-2.2.1.js"></script>
    {% block scripts %}{% endblock %}
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {#    <!-- Le fav and touch icons -->#}
    {#    <!--  <link rel="shortcut icon" href="../assets/ico/favicon.ico">#}
    {#    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">#}
    {#    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">#}
    {#    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png"> -->#}
</head>

<body>

<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            {% block logo %}
                <a class="brand" href="{{ url_for('blog.main') }}"><strong><span style="color: #db0000">B</span>unker <span style="color: #db0000">L</span>ogs</strong></a>
            {% endblock %}
            {% block navbar %}
            {% endblock %}
            {% block auth %}
            <ul class="nav pull-right">
                {% if current_user.is_authenticated() %}
                    <div class="btn-group">
                        <a href="{{ url_for('blog.main', author=current_user.name) }}" class="btn btn-inverse">{{ current_user.name }}</a>
                        <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li class="disabled"><a href="#">Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ url_for('auth.signout_page') }}">Sign Out</a></li>
                        </ul>
                    </div>
                {% else %}
                    <li><a href="{{ url_for('auth.signin_page') }}">Sign In</a></li>
                {% endif %}
            </ul>
            {% endblock %}
        </div>
    </div>
</div>

<div class="container">
{% block container %}
    <div class="row">
        <div class="span9">
            <div id="post_view">
            {%- if data.author %}
                <div class="page-header">
                    <h1>
                    {%- if data.author.blog.title -%}
                        {{ data.author.blog.title }}
                    {%- else -%}
                        Блог: {{ data.author.name }}
                    {%- endif %}
                        <a href="{{ url_for('blog.main', author=data.author.name) }}">&raquo;</a>
                        {%- if data.author.blog.description -%}
                        <br/>
                        <small class="muted">{{ data.author.blog.description }}</small>
                    {%- endif %}
                    </h1>
                </div>
            {% endif %}
            </div>
                {% block text_area %}
                    {% for post in data.posts %}
                        <h3><span class="muted">{% if post.rate %}{{ post.rate|rate }} - {% endif %}</span> <a href="{{ url_for('blog.post', post_id=post.id) }}">{{ post.title }}</a></h3>
                        <p>{{ post.text.text|markdown }} {% if post.text.read_more %}<a href="{{ url_for('blog.post', post_id=post.id) }}">Читать дальше &rarr;</a>{% endif %}</p>
                        <p>
                            {%- for tag in post.tags -%}
                                <a href="{{ url_for('blog.main', author=data.author.name if data.author else None, tag=tag) }}"><span class="label label-success">{{ tag }}</span></a>
                            {% endfor -%}
                        </p>
                        <div class="row-fluid">
                        {% if post.author.avatar %}
                            <img class="pull-left" src="http://dabunker.com/static/avatars/{{ post.author.avatar }}" style="max-height: 36px; margin-right: 10px">
                        {% endif %}
                        <span> <a href="{{ url_for('blog.main', author=post.author.name) }}">{{ post.author.name }}</a>
                            <span class="badge badge-warning">{{ post.author.rate|rate }}</span> <span class="muted"> <br> <small>{{ post.time|local_date }}</small></span> </span>
                        <a class="pull-right" href="{{ url_for('blog.post', post_id=post.id) }}">Комментарии: {{ post.comments }}{% if post.new_count %} (Новых: {{ post.new_count }}){% endif %}</a>
                        </div>
                        <hr/>
                    {% endfor %}
                    <div>
                        <ul class="pager">
                            {% if data.prev != None %}
                                <li class="previous">
                                    <a href="{{ url_for('blog.main', page=data.prev, author=data.author.name if data.author else None, tag=data.tag) }}">&larr; Предыдущие</a>
                                </li>
                            {% endif %}
                            {% if data.next != None %}
                                <li class="next">
                                    <a href="{{ url_for('blog.main', page=data.next, author=data.author.name if data.author else None, tag=data.tag) }}">Следующие &rarr;</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endblock %}
            </div>

            <div class="span3">
{#                <a class="btn btn-danger" href="{{ url_for('builder.main') }}"><strong>Head Quoters</strong> <span class="icon-star icon-white"></span></a>#}
                <div style="text-align: center">
                    <a class="btn btn-large btn-danger" href="">
                        <h2>Head Quoters</h2>
                        <h6>Online Roster Builder</h6>
                    </a>
                </div>
{#                <a href="/blog/GreenskinBrothersStudio/"><img style="margin-bottom: 20px;" src="http://www.dabunker.com/static/avatars/164997062297525091984152.jpg"></a>#}
{#                <div class="well" style="text-align: center">#}
{#                    <h2><a href="/blog/GreenskinBrothersStudio/">GBS</a></h2>#}
{#                    Greenskin Brothers Studio's Blog#}
{#                </div>#}
{#                {% if stable.side_bar.bookmarks %}#}
{#                    <div class="well">#}
{#                        <p><h4><a href="/bookmarks">Закладки</a></h4></p>#}
{#                        {% for bookmark in stable.side_bar.bookmarks %}#}
{#                            <p><a href="/post/{{ bookmark.id }}">{{ bookmark.title }}</a> ({{ bookmark.comments }}{% if bookmark.new_comments %}, новых: {{ bookmark.new_comments }}{% endif %})</p>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                {% endif %}#}
                <div class="row-fluid">
                    <hr/>
                    <p><h4>Разделы</h4></p>
                    {% if data.author -%}
                        {%- for tag in data.tags -%}
                            <a href="{{ url_for('blog.main', tag=tag, author=data.author.name) }}"><span class="label label-success">{{ tag }}</span></a>
                        {% endfor -%}
                    {%- else -%}
                        {%- for tag in data.tags -%}
                            <a href="{{ url_for('blog.main', tag=tag) }}"><span class="label label-info">{{ tag }}</span></a>
                        {% endfor -%}
                    {%- endif -%}
                </div>
{#                <div class="well">#}
{#                    <p><h4>Популярные</h4></p>#}
{#                    {% for post in stable.side_bar.most_rated %}#}
{#                        <p>{% if post.rate > 0 %}+{% endif %}{{ post.rate }} <a#}
{#                                href="/post/{{ post.id }}">{{ post.title }}</a></p>#}
{#                    {% endfor %}#}
{#                </div>#}
{#                <div class="well">#}
{#                    <p><h4>Обсуждаемые</h4></p>#}
{#                    {% for post in stable.side_bar.most_commented %}#}
{#                        <p><a href="/post/{{ post.id }}">{{ post.title }}</a> ({{ post.comments }})</p>#}
{#                    {% endfor %}#}
{#                </div>#}
{#                <div class="well">#}
{#                    <p><h4>Онлайн</h4></p>#}
{#                    {% for online_user in stable.side_bar.online %}#}
{#                        <a href="/user/{{ online_user }}">{{ online_user }}</a>,#}
{#                    {% endfor %}#}
{#                </div>#}
            </div>
        </div>
    {% endblock %}
    <hr>
y    <footer>
        <p>&copy; <a href="mailto:kurvivor19@yandex.ru?subject=support">hq-builder.com</a></p>
    </footer>
</div>
<!-- /container -->
</body>
</html>
